@import url("style/form.css");
@import url("style/main-entry.css");
@import url("style/last-entries.css");
@import url("style/sidebar.css");
@import url("style/table.css");

h1,
h2,
th {
  font: 500 1rem Poppins;
  line-height: 1.8rem;
}

body,
button,
input {
  font: 400 1rem Archivo;
  line-height: 1.6rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-simple *,
.title-simple {
  font-weight: 400;
}

.input-group-flex {
  display: flex;
  flex-flow: row wrap;
}

Input {
  border: 0 !important;
  border-bottom: lightgray solid 1px !important;
  border-radius: 0 !important;
  margin-bottom: 6px;
}

.nav-reduce-margin {
  margin-bottom: 12px !important;
}

.clear-btn {
  background-color: none;
  color: gray;
}

.small-text > * {
  font-size: smaller;
  color: gray;
}

.btn-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
