@import url("style/form.css");
@import url("style/main-entry.css");
@import url("style/last-entries.css");

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-title-simple * {
  font-weight: 400;
}

.input-group-flex {
  display: flex;
  flex-flow: row wrap;
}

Input {
  border: 0 !important;
  border-bottom: lightgray solid 1px !important;
  border-radius: 0 !important;
}

.nav-reduce-margin {
  margin-bottom: 12px !important;
}

.sidebar {
  position: absolute;
  right: 7em;
  max-width: 180px;
  text-align: right;
  background-color: white;
}

.sidebar-line > div {
  border-top: 1px solid lightgray;
}
